{% extends 'base.html' %}

{% block title %}
About - Parayil Bappuhaji Memorial Medical Center
{% endblock %}

{% block content %}
    </style>
    <title>Parayil Bappuhaji Memorial Medical Center</title>
</head>
<body>
    <header>
        <h1>Parayil Bappuhaji Memorial Medical Center</h1>
    </header>

    <section>
        <h2>About Us</h2>
        <p>Welcome to Parayil Bappuhaji Memorial Medical Center, a place established in memory of a remarkable individual who dedicated his life to serving our community.</p>

        <h3>A Man of Distinction</h3>
        <p>Parayil Bappuhaji was a beacon of inspiration and a pillar of our community. His unwavering commitment to the well-being of others left an indelible mark on the lives he touched. Through his leadership and community involvement, he demonstrated kindness, generosity, and a profound sense of community.</p>

        <h3>Founding Principles</h3>
        <p>At Parayil Bappuhaji Memorial Medical Center, we are guided by the principles that defined Bappuhaji's life - compassion, service, and a genuine concern for the welfare of the community. Our mission is to continue his legacy by providing healthcare services that reflect the same care and consideration he demonstrated throughout his life.</p>

        <h3>Celebrating Life</h3>
        <p>While we mourn the loss of Parayil Bappuhaji, we celebrate his life by dedicating this medical center to the service of the community he loved. Our commitment is to create a health-focused environment that echoes his values and fosters the well-being of all those we have the privilege to serve.</p>

        <p>Thank you for choosing Parayil Bappuhaji Memorial Medical Center. In honoring his memory, we aspire to uphold the principles that made him a beloved and respected figure in the hearts of our community.</p>
    </section>


{% endblock %}
